@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --panel:#0b1220;
  --accent:#2563eb;
}

/* Alto completo + evitar desbordes horizontales */
html, body, #root { height: 100%; }
body {
  overflow-x: hidden;
  background: #f8fafc;  /* slate-50 aprox */
  color: #0f172a;       /* slate-900 */
}
html.dark body {
  background: #000;     /* dark */
  color: #f1f5f9;       /* slate-100 */
}
